:root {
  // Color system
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray-1: #f1f4f5;

  --color-text-1: #526d75;
  --color-text-2: #0b3a47;
  --color-accent-1: #209494;

  // Typography
  --ff-raleway: "Raleway", "Arial", sans-serif;
  --ff-montserrat: "Montserrat", "Arial", sans-serif;
  --ff-inter: "Inter", "Arial", sans-serif;
}

// Screen sizes
$screen--480:  480px;
$screen--768:  768px;
$screen--1024: 1024px;
$screen--1280: 1280px;
$screen--1440: 1440px;
$screen--1920: 1920px;

// Resolutions
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
