.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.hidden {
  display: none !important; // stylelint-disable-line
}

.no-scroll {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

.wrapper .page-header,
.wrapper .page-footer {
  flex-shrink: 0;
}

.wrapper main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;

  @media screen and (max-width: $screen--1440 - 1) {
    max-width: 1120px;
  }

  @media screen and (max-width: $screen--768 - 1) {
    padding-right: 15px;
    padding-left: 15px;
  }
}

h1,
.title-h1 {
  font-weight: 700;
  font-family: var(--ff-montserrat);
  font-size: px-to-rem(60px, 18px);
  line-height: 1.1;
  color: var(--color-text-2);

  @media screen and (max-width: $screen--1024 - 1) {
    font-size: px-to-rem(38px);
  }

  @media screen and (max-width: $screen--768 - 1) {
    font-size: px-to-rem(28px, 14px);
  }
}

h2,
.title-h2 {
  font-weight: 700;
  font-family: var(--ff-montserrat);
  font-size: px-to-rem(45px, 18px);
  line-height: 1.1;
  color: var(--color-text-2);

  @media screen and (max-width: $screen--1024 - 1) {
    font-size: px-to-rem(30px);
  }

  @media screen and (max-width: $screen--768 - 1) {
    font-size: px-to-rem(25px, 14px);
  }
}

//h3,
//.title-h3 {
//  font-weight: 700;
//  font-size: size(30px);
//  line-height: 1.2;
//  color: var(--color-accent-2);
//  text-transform: uppercase;
//}
//
//h4,
//.title-h4 {
//  font-weight: 700;
//  font-size: size(20px);
//  line-height: 1.2;
//  color: var(--color-accent-2);
//  text-transform: uppercase;
//}
//
//h5,
//.title-h5 {
//  font-size: size(20px);
//  line-height: 1.2;
//  color: var(--color-accent-2);
//  text-transform: uppercase;
//}

.fancybox {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 1;
    display: block;
    width: px-to-rem(36px, 18px);
    height: px-to-rem(36px, 18px);
    overflow: hidden;
    background-color: var(--color-white);
    background-image: url("data:image/svg+xml,%3Csvg width='38' height='42' viewBox='0 0 38 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M32.3434 41.9244C32.5798 41.9231 32.8088 41.8421 32.9934 41.6944L37.1734 38.2944C37.2783 38.2102 37.3651 38.1057 37.4287 37.9871C37.4923 37.8686 37.5313 37.7384 37.5434 37.6044C37.5603 37.4694 37.5496 37.3324 37.5117 37.2017C37.4739 37.0711 37.4098 36.9495 37.3234 36.8444L27.8134 24.9144C29.8955 22.1912 31.0161 18.8545 30.9998 15.4265C30.9836 11.9985 29.8314 8.67264 27.7236 5.96925C25.6157 3.26586 22.6711 1.33752 19.3506 0.485916C16.03 -0.365685 12.5208 -0.0924976 9.37209 1.26277C6.22335 2.61804 3.61272 4.97892 1.94868 7.97597C0.284646 10.973 -0.338906 14.4372 0.175592 17.8264C0.690091 21.2156 2.31361 24.3386 4.79212 26.7067C7.27064 29.0749 10.4643 30.5547 13.8734 30.9144C14.4134 30.9144 14.9634 30.9944 15.5034 30.9944C17.7535 30.995 19.9762 30.4999 22.0134 29.5444L31.5434 41.5444C31.6386 41.6649 31.7603 41.7619 31.899 41.8278C32.0378 41.8937 32.1898 41.9267 32.3434 41.9244ZM14.0834 28.9244C10.9878 28.6053 8.09867 27.2227 5.90829 25.0122C3.71791 22.8016 2.36184 19.8999 2.07118 16.8015C1.78053 13.7032 2.57326 10.5999 4.3143 8.02052C6.05533 5.44115 8.63693 3.5453 11.6192 2.65608C14.6014 1.76686 17.7997 1.93926 20.669 3.14394C23.5384 4.34861 25.9012 6.511 27.3548 9.26259C28.8085 12.0142 29.263 15.1847 28.6409 18.2338C28.0189 21.283 26.3587 24.0221 23.9434 25.9844C22.5745 27.0988 20.9983 27.9307 19.3058 28.4319C17.6134 28.9331 15.8383 29.0937 14.0834 28.9044V28.9244ZM25.2434 27.5844C25.662 27.2457 23.1192 28.9752 23.5 28.5944L32.4934 39.4644L23.8434 28.5944C24.3272 28.275 24.7945 27.9312 25.2434 27.5644V27.5844Z' fill='%23209494'/%3E%3Cpath d='M15.3256 8V15.5M15.3256 23V15.5M15.3256 15.5H8H23' stroke='%23209494' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-position: center;
    background-size: 1.1rem auto;
    background-repeat: no-repeat;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 12px 56px rgba(11, 17, 66, 12%);
    transform: translateX(-50%);
    transition: all 0.3s;
  }

  &:hover {
    &::before {
      @media screen and (hover: hover) {
        top: 50%;
        opacity: 1;
        transform: translate(-50%, -50%);
      }
    }
  }
}

