.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.hidden {
  display: none !important; // stylelint-disable-line
}

.no-scroll {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

.wrapper .page-header,
.wrapper .page-footer {
  flex-shrink: 0;
}

.wrapper main {
  flex-grow: 1;
}

.container {
  width: size(1200px);
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

h1,
.title-h1 {
  font-weight: 700;
  font-size: size(60px);
  line-height: 1.2;
  color: var(--color-accent-2);
  text-align: center;
  text-transform: uppercase;
}

h2,
.title-h2 {
  font-weight: 700;
  font-size: size(45px);
  line-height: 1.49;
  color: var(--color-accent-2);
  text-transform: uppercase;
}

h3,
.title-h3 {
  font-weight: 700;
  font-size: size(30px);
  line-height: 1.2;
  color: var(--color-accent-2);
  text-transform: uppercase;
}

h4,
.title-h4 {
  font-weight: 700;
  font-size: size(20px);
  line-height: 1.2;
  color: var(--color-accent-2);
  text-transform: uppercase;
}

h5,
.title-h5 {
  font-size: size(20px);
  line-height: 1.2;
  color: var(--color-accent-2);
  text-transform: uppercase;
}

