.about__inner {
  padding-top: px-to-rem(120px, 18px);
  padding-bottom: px-to-rem(60px, 18px);

  @media screen and (max-width: $screen--1024 - 1) {
    padding-top: px-to-rem(70px);
    padding-bottom: px-to-rem(30px);
  }
}

.about__inner-cols {
  display: flex;
  flex-direction: column;
}

.about__title {
  margin-bottom: 1.11em;
}

.about__img-wrap {
  flex: 0 1 50%;
  padding-right: 2rem;

  @media screen and (max-width: $screen--768 - 1) {
    margin-bottom: 1.5rem;
    padding-right: 0;
  }
}

.about__text-wrap {
  flex: 0 1 50%;
}

.about__descr {
  margin-bottom: px-to-rem(26px, 18px);
}

.about__descr p {
  margin-bottom: 0.667em;
}

.about__stats {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  row-gap: px-to-rem(18px, 18px);
  column-gap: px-to-rem(18px, 18px);
  padding-left: px-to-rem(20px, 18px);
}

.about__stats-item {
  max-width: px-to-rem(285px, 18px);
}
