.btn.--cite {
  padding-top: 0.625em;
  padding-bottom: 0.625em;
  color: var(--color-accent-2);
  background-color: var(--color-accent-1);

  &:hover,
  &:focus {
    color: var(--color-white);
    background-color: var(--color-accent-2);
  }
}

.btn {
  position: relative;
  display: inline-block;
  max-width: 300px;
  padding: 1em 2.1875em 1.0625em;
  overflow: hidden;
  font-weight: 400;
  font-family: var(--ff-arial);
  font-size: size(16px);
  line-height: 1.2;
  vertical-align: middle;
  text-align: center;
  color: var(--color-white);
  text-transform: none;
  text-decoration: none;
  white-space: normal;
  overflow-wrap: normal;
  background-color: var(--color-accent-2);
  border: 0;
  border-radius: 0;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;

  &:hover,
  &:focus {
    background-color: var(--color-accent-2-h);
    opacity: 1;
  }
}
