.btn {
  position: relative;
  display: inline-block;
  //max-width: 300px;
  padding: 1.125em 2.75em;
  overflow: hidden;
  font-weight: 700;
  font-family: var(--ff-montserrat);
  font-size: px-to-rem(16px, 18px);
  line-height: 1.4;
  vertical-align: middle;
  text-align: center;
  color: var(--color-white);
  text-transform: none;
  text-decoration: none;
  white-space: normal;
  overflow-wrap: normal;
  background-color: var(--color-accent-1);
  border: 2px solid var(--color-accent-1);
  border-radius: 100px;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;

  &:hover,
  &:focus {
    color: var(--color-accent-1);
    background-color: rgba(0, 0, 0, 0%);
    opacity: 1;
  }
}
