.career-item {
  position: relative;
  display: flex;
  padding-left: px-to-rem(95px, 18px);

  @media screen and (max-width: $screen--1024 - 1) {
    padding-left: px-to-rem(50px);
  }

  @media screen and (max-width: $screen--768 - 1) {
    flex-direction: column;
    padding-left: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    display: block;
    width: 24px;
    height: 24px;
    background-color: var(--color-white);
    border-radius: 50%;
    border: 1px solid var(--color-gray-2);

    @media screen and (max-width: $screen--1024 - 1) {
      top: 2px;
    }

    @media screen and (max-width: $screen--768 - 1) {
      content: none;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 33px;
    bottom: -8px;
    left: 12px;
    display: block;
    width: 1px;
    background-color: var(--color-gray-2);

    @media screen and (max-width: $screen--1024 - 1) {
      top: 27px;
      bottom: -2px;
    }

    @media screen and (max-width: $screen--768 - 1) {
      content: none;
    }
  }

  &:last-child {
    &::after {
      content: none;
    }
  }
}

.career-item__year {
  margin-right: auto;
  margin-bottom: 0;
  font-weight: 700;
  font-family: var(--ff-montserrat);
  font-size: px-to-rem(30px, 18px);
  color: var(--color-accent-1);

  @media screen and (max-width: $screen--1024 - 1) {
    font-size: px-to-rem(20px);
  }

  @media screen and (max-width: $screen--768 - 1) {
    margin-bottom: 0.5rem;
  }
}

.career-item__descr {
  flex: 0 1 75%;
  padding-left: 2rem;

  @media screen and (max-width: $screen--1024 - 1) {
    flex-basis: 80%;
    padding-left: 1rem;
  }

  @media screen and (max-width: $screen--768 - 1) {
    padding-left: 0;
  }
}

.career-item__descr p {
  margin-bottom: 0.556em;

  &:last-child {
    margin-bottom: 0;
  }
}
