.card-review {
  border: 1px solid var(--color-gray-2);

  &:hover {
    border-color: var(--color-gray-1);
    box-shadow: 0 5px 15px rgba(55, 89, 120, 0.1);
  }
}

.card-review a {
  opacity: 1;

  &:hover,
  &:focus {
    opacity: 0.75;
  }
}

.card-review__inner {
  padding: px-to-rem(30px, 18px);

  @media screen and (max-width: $screen--768 - 1) {
    padding: px-to-rem(20px, 14px);
  }
}

.card-review__header {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  row-gap: px-to-rem(10px, 18px);
  column-gap: 2rem;
  margin-bottom: px-to-rem(20px, 18px);

  @media screen and (max-width: $screen--768 - 1) {
    column-gap: 1rem;
  }
}

.card-review__person-name {
  font-size: px-to-rem(18px, 18px);
  color: var(--color-accent-1);

  @media screen and (max-width: $screen--768 - 1) {
    font-size: px-to-rem(16px, 14px);
  }
}

.card-review__service-title {
  grid-row-start: 2;
  margin: 0;
  font-size: px-to-rem(16px, 18px);
  color: var(--color-text-2);

  @media screen and (max-width: $screen--768 - 1) {
    font-size: px-to-rem(14px, 14px);
  }
}

.card-review__date {
  grid-column-start: 2;
  margin: 0;
  font-size: px-to-rem(14px, 18px);
  color: var(--color-text-2);
  text-align: right;
  opacity: 0.6;

  @media screen and (max-width: $screen--768 - 1) {
    font-size: px-to-rem(12px, 14px);
  }
}

.card-review__rating {
  grid-column-start: 2;
  justify-self: end;
}

.card-review__body {
  display: flex;
}

.card-review__img-wrap {
  flex: 0 0 20%;
  max-width: px-to-rem(80px, 18px);
  height: px-to-rem(112px, 18px);
  margin-right: px-to-rem(10px, 18px);
  overflow: hidden;
}

.card-review__img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card-review__text-wrap p {
  margin: 0;
  font-size: px-to-rem(14px, 18px);
  color: #383c3e;

  @media screen and (max-width: $screen--768 - 1) {
    font-size: px-to-rem(12px, 14px);
  }
}

.card-review__text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;

  @media screen and (max-width: $screen--768 - 1) {
    -webkit-line-clamp: 4;
  }
}
