.field-text.--select .field-text__input {
  padding: 1em 1em;
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='7' viewBox='0 0 13 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.5 7L0.870834 0.25L12.1292 0.25L6.5 7Z' fill='%23209494'/%3E%3C/svg%3E%0A");
  background-position: right 0.72em center;
  background-size: auto;
  background-repeat: no-repeat;
  -webkit-appearance: none;

  @media screen and (max-width: $screen--768 - 1) {
    background-position: right 0.4em center;
  }
}

.field-text__label {
  display: inline-block;
}

.field-text__input {
  width: 100%;
  display: inline-block;
  height: px-to-rem(60px, 18px);
  padding: 1.11em 1.556em;
  font-weight: 300;
  font-family: var(--ff-inter);
  font-size: px-to-rem(18px, 18px);
  line-height: 1;
  color: var(--color-text-1);
  background-color: rgba(0, 0, 0, 0%);
  border: 0;
  border-bottom: 1px solid var(--color-text-1);
  border-radius: 0;
  outline: 0;

  @media screen and (max-width: $screen--1024 - 1) {
    height: px-to-rem(54px);
    padding: 1em 1.4em;
    font-size: px-to-rem(15px);
  }

  &::placeholder {
    color: var(--color-text-1);
  }

  &:hover,
  &:focus {
    color: var(--color-accent-1);
    border-bottom-color: var(--color-accent-1);

    &::placeholder {
      color: var(--color-accent-1);
    }
  }
}
