.link.--prev {
  padding-left: size(58px);

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 3.57em;
    height: 0.714em;
    background-image: url("data:image/svg+xml,%3Csvg width='50' height='10' viewBox='0 0 50 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M49 5L1 5M1 5L10 9.5M1 5L10 0.5' stroke='%23143270' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-position: left center;
    background-size: 3.57em auto;
    background-repeat: no-repeat;
    transform: translateY(-50%);
    transition: all 0.3s;
  }

  &:hover,
  &:focus {
    &::after {
      left: -10px;
    }
  }
}

.link.--is-disabled {
  color: var(--color-gray-2);
  pointer-events: none;
}

.link.--is-disabled.--prev {
  &::after {
    background-image: url("data:image/svg+xml,%3Csvg width='50' height='10' viewBox='0 0 50 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M49 5L1 5M1 5L10 9.5M1 5L10 0.5' stroke='%23959999' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  }
}

.link.--is-disabled.--next {
  &::after {
    background-image: url("data:image/svg+xml,%3Csvg width='50' height='10' viewBox='0 0 50 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 5H49M49 5L40 0.5M49 5L40 9.5' stroke='%23959999' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  }
}

.link {
  position: relative;
  display: inline-block;
  padding-right: size(58px);
  font-size: size(14px);
  color: var(--color-accent-2);
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    width: 3.57em;
    height: 0.714em;
    background-image: url("data:image/svg+xml,%3Csvg width='50' height='10' viewBox='0 0 50 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 5H49M49 5L40 0.5M49 5L40 9.5' stroke='%23143270' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-position: right center;
    background-size: 3.57em auto;
    background-repeat: no-repeat;
    transform: translateY(-50%);
    transition: all 0.3s;
  }

  &:hover,
  &:focus {
    opacity: 1;

    &::after {
      right: -10px;
    }
  }
}
