.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  margin-right: px-to-rem(30px, 18px);

  &:last-child {
    margin-right: 0;
  }
}

.main-nav__link.--is-active {
  font-weight: 800;
  color: var(--color-accent-1);
}

.main-nav__link {
  display: block;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: px-to-rem(16px, 18px);
  line-height: 1.2;
  color: var(--color-text-1);

  &:hover,
  &:focus {
    color: var(--color-accent-1);
  }
}


