.page-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: px-to-rem(128px, 18px);
  background-color: var(--color-white);
  box-shadow: 0 10px 20px rgba(55, 89, 120, 0.05);

  @media screen and (max-width: $screen--1024 - 1) {
    height: 80px;
  }
}

.page-header a:not(.logo) {
  opacity: 1;
}

.page-header .container {
  max-width: 1200px;
  height: 100%;
}

.page-header__inner {
  display: flex;
  align-items: center;
  height: 100%;
  padding-top: px-to-rem(18px, 18px);
  padding-bottom: px-to-rem(18px, 18px);

  @media screen and (max-width: $screen--1024 - 1) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.page-header__logo-wrapper {
  flex: 0 0 px-to-rem(285px, 18px);
  margin-right: px-to-rem(54px, 18px);
  margin-left: px-to-rem(-26px, 18px);

  @media screen and (max-width: $screen--1280 - 1) {
    margin-right: px-to-rem(30px);
    margin-left: 0;
  }

  @media screen and (max-width: $screen--1024 - 1) {
    flex-basis: px-to-rem(200px);
  }
}

.page-header__menu-wrap {
  top: 75px;
  display: none;
}

.page-header__contacts {
  margin-left: auto;
}

.page-header__phone-wrap {
  display: flex;
  flex-direction: column;
  text-align: right;

  @media screen and (max-width: $screen--1024 - 1) {
    display: none;
  }
}

.page-header__phone-wrap a {
  &:hover,
  &:focus {
    color: var(--color-accent-1);
  }
}

.page-header__phone {
  font-weight: 700;
  font-family: var(--ff-montserrat);
  font-size: px-to-rem(25px, 18px);
  color: var(--color-text-2);
}

.page-header__callback {
  font-size: px-to-rem(14px, 18px);
  color: var(--color-text-1);
}

.page-header__toggle {
  position: relative;
  justify-content: center;
  align-items: center;
  display: none;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0%);
  border: 0;
  border-radius: 0;
  cursor: pointer;
  user-select: none;

  @media screen and (max-width: $screen--1024 - 1) {
    display: flex;
    margin-left: auto;
  }
}

.page-header__toggle.--is-active span {
  background-color: rgba(0, 0, 0, 0%);
  transition: background-color 0.3s 0s;

  &::before,
  &::after {
    top: 0;
    transition: top 0.3s, transform 0.3s 0.5s;
  }

  &::before {
    transform: rotate(-45deg);
  }

  &::after {
    transform: rotate(45deg);
  }
}

.page-header__toggle span {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 2px;
  vertical-align: middle;
  background-color: var(--color-accent-1);
  transition: background-color 0.3s 0.5s;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 25px;
    height: 2px;
    background-color: var(--color-accent-1);
    transform-origin: 50% 50%;
    transition: top 0.3s 0.3s, transform 0.3s;
  }

  &::before {
    top: -9px;
  }

  &::after {
    top: 9px;
  }
}
