.page.--show-menu .page-header {
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-accent-2);
}

.page.--show-menu .page-header__menu-wrap {
  position: fixed;
  top: 75px;
  right: 0;
  bottom: -1px;
  left: 0;
  z-index: 20;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--color-white);
}

.page.--index .head {
  min-height: 440px;
}

.page.--index .head .container {
  width: size(1290px);
}

.page.--index .head__inner {
  padding-top: 80px;
  padding-bottom: 43px;
}

.page.--index .title-h1 {
  margin-top: -2rem;
}

.page.--index .head__inner-cols {
  justify-content: center;
}

.page.--index .head__text-wrap {
  padding-right: size(30px);
}

.page.--index .head__img-wrap {
  max-width: 255px;
  margin-left: 0;
  padding-bottom: 0;
}

.page.--index .title-h1 span {
  display: block;
  font-size: size(45px);
  color: var(--color-gray-3);
  text-transform: lowercase;
}

.page.--index .head__img {
  filter: drop-shadow(20px 30px 105px rgba(41, 44, 37, 0.05)) drop-shadow(-10px 20px 20px rgba(41, 44, 37, 0.0668148)) drop-shadow(-3.98609px 7.93674px 8.55556px rgba(41, 44, 37, 0.11));
}

.page.--issues .breadcrumbs {
  margin-bottom: 0;
}

.page.--community .head__inner {
  padding-top: 130px;
}
