.page-footer {
  background-color: var(--color-gray-1);
}

.page-footer__top {
  display: flex;
  justify-content: space-between;
  padding-top: px-to-rem(120px, 18px);
}

.page-footer__title {
  margin-bottom: 1.11em;
  color: var(--color-accent-1);
}

.page-footer__nav {
  padding-right: 2rem;
}

.page-footer__nav-list {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto;
  grid-auto-flow: column;
  row-gap: px-to-rem(30px, 18px);
  column-gap: px-to-rem(60px, 18px);
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-footer__nav-link {
  font-size: px-to-rem(16px, 18px);
}

.page-footer__contacts {
  flex: 0 1 50%;
}

.page-footer__contacts-inner {
  display: flex;
  justify-content: space-between;
}

.page-footer__socials-caption {
  margin-bottom: 1.25em;
  font-size: px-to-rem(16px, 18px);
}

.page-footer__links-wrap {
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
  text-align: right;
}

.page-footer__links-wrap a {
  &:hover,
  &:focus {
    color: var(--color-accent-1);
    opacity: 1;
  }
}

.page-footer__contacts-link {
  margin-bottom: 0.5em;
  font-weight: 700;
  font-family: var(--ff-inter);
  font-size: px-to-rem(30px, 18px);
  line-height: 1.1;
  color: var(--color-text-2);

  &:last-child {
    margin-bottom: 0;
  }
}

.page-footer__feedback {
  margin-top: 1.11em;
  color: var(--color-text-2);
}

.page-footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: px-to-rem(80px, 18px);
}

.page-footer__logo-wrapper {
  flex: 0 0 285px;
  margin-right: 1.5rem;
  //margin-left: px-to-rem(-26px, 18px);
}

//.page-footer__nav-link.--is-active {
//  color: var(--color-accent-2);
//}
//
//.page-footer__nav-link {
//  font-size: size(16px);
//  line-height: 1.2;
//  color: var(--color-gray-3);
//
//  &:hover,
//  &:focus {
//    color: var(--color-accent-2-h);
//  }
//}
//
//.page-footer__user-menu {
//  margin-top: 60px;
//}
//
//.page-footer__search {
//  margin-bottom: 20px;
//}
//
//.page-footer__title {
//  margin-bottom: 45px;
//}
//
//.page-footer__contacts {
//  display: flex;
//  flex-direction: column;
//}
//
//.page-footer__contacts-link {
//  margin-bottom: 15px;
//  font-weight: 600;
//  font-family: var(--ff-open-sans);
//
//  &:hover,
//  &:focus {
//    opacity: 0.8;
//  }
//
//  &:last-of-type {
//    margin-bottom: 0;
//  }
//}
//
//.page-footer__contacts-address {
//  margin: 32px 0 0;
//  color: #474643;
//}
//
//.page-footer__bottom {
//  margin-top: 90px;
//}
//
//.page-footer__bottom-inner {
//  display: flex;
//  justify-content: space-between;
//  align-items: center;
//  padding-top: 21px;
//  padding-bottom: 21px;
//}
//
//.page-footer__copyright {
//  margin: 0;
//}
//
//.page-footer__develop p {
//  margin: 0;
//}
