.page.--show-menu .page-header {
  border-bottom: 1px solid var(--color-accent-1);
}

.page.--show-menu .page-header__menu-wrap {
  position: fixed;
  top: 80px;
  right: 0;
  bottom: -1px;
  left: 0;
  z-index: 20;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--color-white);
}
