.page-footer {
  background-color: var(--color-accent-1);
}

.page-footer a {
  opacity: 1;
}

.page-footer .field-text__input {
  background-color: var(--color-white);
}

.page-footer__top {
  padding-top: 90px;
}

.page-footer__top-inner {
  display: flex;
  justify-content: space-between;
}

.page-footer__form-wrap {
  flex-basis: 35.83%;
}

.page-footer__form-wrap .page-footer__subtitle {
  margin-bottom: 1.5em;
}

.page-footer__nav-wrap {
  flex-basis: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.page-footer__nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-footer__nav-item {
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

.page-footer__contacts {
  //width: 298px;
  flex-basis: 26.33%;
  padding-left: 1rem;
}

.page-footer__nav-link.--is-active {
  color: var(--color-accent-2);
}

.page-footer__nav-link {
  font-size: size(16px);
  line-height: 1.2;
  color: var(--color-gray-3);

  &:hover,
  &:focus {
    color: var(--color-accent-2-h);
  }
}

.page-footer__user-menu {
  margin-top: 60px;
}

.page-footer__search {
  margin-bottom: 20px;
}

.page-footer__title {
  margin-bottom: 45px;
}

.page-footer__contacts {
  display: flex;
  flex-direction: column;
}

.page-footer__contacts-link {
  margin-bottom: 15px;
  font-weight: 600;
  font-family: var(--ff-open-sans);

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.page-footer__contacts-address {
  margin: 32px 0 0;
  color: #474643;
}

.page-footer__bottom {
  margin-top: 90px;
}

.page-footer__bottom-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 21px;
  padding-bottom: 21px;
}

.page-footer__copyright {
  margin: 0;
}

.page-footer__develop p {
  margin: 0;
}
