.page-footer {
  background-color: var(--color-gray-1);
}

.page-footer__top {
  display: flex;
  justify-content: space-between;
  padding-top: px-to-rem(120px, 18px);

  @media screen and (max-width: $screen--1024 - 1) {
    padding-top: px-to-rem(70px);
  }

  @media screen and (max-width: $screen--768 - 1) {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.page-footer__title {
  margin-bottom: 1.11em;
  color: var(--color-accent-1);
}

.page-footer__nav {
  padding-right: 2rem;

  @media screen and (max-width: $screen--1024 - 1) {
    padding-right: 1rem;
  }

  @media screen and (max-width: $screen--768 - 1) {
    margin-bottom: 2rem;
    padding-right: 0;
  }
}

.page-footer__nav-list {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto;
  grid-auto-flow: column;
  row-gap: px-to-rem(30px, 18px);
  column-gap: px-to-rem(60px, 18px);
  margin: 0;
  padding: 0;
  list-style: none;

  @media screen and (max-width: $screen--1024 - 1) {
    row-gap: px-to-rem(20px);
    column-gap: px-to-rem(30px);
  }
}

.page-footer__nav-link {
  font-size: px-to-rem(16px, 18px);
}

.page-footer__contacts {
  flex: 0 1 50%;
}

.page-footer__contacts-inner {
  display: flex;
  justify-content: space-between;
}

.page-footer__socials-caption {
  margin-bottom: 1.25em;
  font-size: px-to-rem(16px, 18px);
}

.page-footer__links-wrap {
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
  text-align: right;
}

.page-footer__links-wrap a {
  &:hover,
  &:focus {
    color: var(--color-accent-1);
    opacity: 1;
  }
}

.page-footer__contacts-link {
  margin-bottom: 0.5em;
  font-weight: 700;
  font-family: var(--ff-inter);
  font-size: px-to-rem(30px, 18px);
  line-height: 1.1;
  color: var(--color-text-2);

  @media screen and (max-width: $screen--1024 - 1) {
    font-size: px-to-rem(20px);
  }

  @media screen and (max-width: $screen--768 - 1) {
    font-size: px-to-rem(14px, 14px);
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.page-footer__feedback {
  margin-top: 1.11em;
  color: var(--color-text-2);

  @media screen and (max-width: $screen--1024 - 1) {
    margin-top: 0.8em;
  }
}

.page-footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: px-to-rem(80px, 18px);

  @media screen and (max-width: $screen--1024 - 1) {
    margin-top: px-to-rem(50px);
  }

  @media screen and (max-width: $screen--768 - 1) {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.page-footer__logo-wrapper {
  flex: 0 0 px-to-rem(285px);
  margin-right: 1.5rem;
  //margin-left: px-to-rem(-26px, 18px);

  @media screen and (max-width: $screen--1024 - 1) {
    flex-basis: px-to-rem(200px);
  }

  @media screen and (max-width: $screen--768 - 1) {
    flex-basis: auto;
  }
}
