.services {
  background-color: var(--color-gray-1);
}

.services__inner {
  padding-top: px-to-rem(120px, 18px);
  padding-bottom: px-to-rem(114px, 18px);

  @media screen and (max-width: $screen--1024 - 1) {
    padding-top: px-to-rem(70px);
    padding-bottom: px-to-rem(65px);
  }
}

.services__title {
  margin-bottom: 1.11em;
}
