.services {
  background-color: var(--color-gray-1);
}

.services__inner {
  padding-top: px-to-rem(120px, 18px);
  padding-bottom: px-to-rem(114px, 18px);
}

.services__title {
  margin-bottom: 1.11em;
}
