.show-more {
  display: flex;
  justify-content: center;
  padding-top: px-to-rem(16px, 18px);
}

.show-more__link {
  font-weight: 700;
  font-family: var(--ff-montserrat);
  font-size: px-to-rem(20px, 18px);
}
