.study__inner {
  padding-top: px-to-rem(120px, 18px);
  padding-bottom: px-to-rem(110px, 18px);

  @media screen and (max-width: $screen--1024 - 1) {
    padding-top: px-to-rem(70px);
    padding-bottom: px-to-rem(60px);
  }
}

.study__title {
  margin-bottom: 1.33em;
}

.study__list {
  padding-top: px-to-rem(50px, 18px);

  @media screen and (max-width: $screen--1024 - 1) {
    padding-top: px-to-rem(30px);
  }
}
